$layout-spacing: (
  xxlarge: 30px,
  xlarge: 25px,
  large: 20px,
  default: 15px,
  small: 10px,
  xsmall: 5px,
  xxsmall: 2.5px
);

@function spacing($key) {
  @return map-get($map: $layout-spacing, $key: $key)
}
